.Northern {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
}

.Southern {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}
